In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Users/somnathpaul/opt/anaconda3/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/somnathpaul/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/somnathpaul/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.19.0)
Requirement already satisfied: pytz>=2017.2 in /Users/somnathpaul/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /Users/somnathpaul/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

### Load dataset

In [4]:
ds = pd.read_csv("IRIS.csv")

In [5]:
ds.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Detail about the dataset

#### sepal_length: Length of the sepal
#### sepal_width: Width of the sepal
#### petal_length: Length of the petal
#### petal_width: Width of the petal
#### species: Class(type of flower)

### Detail about the dataset:

In [7]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
ds.shape
# 150 rows and 5 cloumns

(150, 5)

In [11]:
ds.describe(include="all")

        sepal_length  sepal_width  petal_length  petal_width         species
count     150.000000   150.000000    150.000000   150.000000             150
unique           NaN          NaN           NaN          NaN               3
top              NaN          NaN           NaN          NaN  Iris-virginica
freq             NaN          NaN           NaN          NaN              50
mean        5.843333     3.054000      3.758667     1.198667             NaN
std         0.828066     0.433594      1.764420     0.763161             NaN
min         4.300000     2.000000      1.000000     0.100000             NaN
25%         5.100000     2.800000      1.600000     0.300000             NaN
50%         5.800000     3.000000      4.350000     1.300000             NaN
75%         6.400000     3.300000      5.100000     1.800000             NaN
max         7.900000     4.400000      6.900000     2.500000             NaN